@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --color-primary: #fa7343;
  --color-secondary: #5fb038;
  --color-background: #f5f5eb;
  --color-shadow: #818c8e;
}

body {
  font-family: Lato;
}

h1,
h2,
h3 {
  font-family: "Intro";
}

.brandname {
  padding: 4rem 3rem;
}

.__heading-brand-name {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: 700;
}

.__heading-undertitle {
  color: var(--color-shadow);
  font-size: 0.8rem;
  margin-top: 1rem;
}

.__hamburger-close {
  opacity: 0.6;
  height: 5rem;
  top: 4rem;
  right: 10rem;
  position: absolute;
  border: none;
  color: white;
}

.__hamburger-open {
  opacity: 0.6;
  height: 5rem;
  position: fixed;
  z-index: 99;
  top: 4rem;
  right: 10rem;
}

.__shopping-cart {
  opacity: 0.6;
  height: 5rem;
  position: fixed;
  z-index: 99;
  top: 3.8rem;
  right: 3rem;
}

.navigation-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  list-style: none;
  background: var(--color-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

.navigation-bar:target {
  transform: translateY(0);
}
.__navigation-item {
  font-size: 4rem;
  color: #fff;
  text-decoration: none;
  padding: 2rem;
}
